sopel>=6.0,<7
xmltodict
pytz
praw<6.0.0
pyenchant
pygeoip
requests
redis
lxml
google-api-python-client
apiclient
beautifulsoup4
markovify
soundcloud
python-dateutil
beautifulsoup4
soundcloud
redis
wolframalpha
google-api-python-client